*{
    margin: 0 auto;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

.formulario {
    width: 300px;
    height: 340px;
    background: linear-gradient(#0cb3c9, #31f7dc);
    padding: 20px;
    border-radius: 20px;
    margin-top: 185px;
    box-shadow: 7px 13px 35px #000;
    color: white;
    min-width: 250px;
}

.formulario h1 {
    margin: 0;
    height: 30px;
    margin-bottom: 30px;
}
.contenedor {
    width: 100%;
    margin-bottom: 16px;
    padding: 8px 9px;
}

.boton{
    float: right;
}